.ipynb_checkpoints

# Delft data gaat niet naar Github
data/delft/data/*
!data/delft/data/Delf-IT/.gitkeep
!data/delft/data/digidepot/.gitkeep
!data/delft/data/digifotos/.gitkeep
!data/delft/data/referentietabellen/.gitkeep
!data/delft/data/magazijnlijst/.gitkeep
!data/delft/data/monsterdatabase/.gitkeep
!data/delft/data/rapporten/.gitkeep
data/delft/output/*
!data/delft/output/.gitkeep
data/delft/backup/*
!data/delft/backup/.gitkeep

# Test data gaat niet naar Github
data/test/*
data/test/projecten/*
data/test/projectenlijst/*
data/test/referentietabellen/*
!data/test/.gitkeep
!data/test/output/.gitkeep
!data/test/backup/.gitkeep

# Synthetische output data gaat niet naar Github
data/synthetic/output/*
!data/synthetic/output/.gitkeep


# Backups
backup/*
!backup/.gitkeep

# App uploads en legacy
app/app/static/uploads/*
!app/app/static/uploads/.gitkeep
app/uwsgi-2.0.20/
Analyse/*
!Analyse/.gitkeep

*-workspace

# Geen .env bestanden in Github, zitten vaak wachtwoorden in 
*.env
*.pyc
*.pot~

*.DS_Store
.entry_point.lock
site
*.bkp
*sstraat_Analyse_en_Verbeterplan*

# Python virtual environment
.venv/
__pycache__/