.ipynb_checkpoints

# inhoud van data directory gaat niet naat Github, behalve de directories zelf
data/input/*
!data/input/.gitkeep 
backup/*
!backup/.gitkeep 
data/images/*
!data/images/.gitkeep 
data/postgres/*
!data/postgres/.gitkeep 
app/app/static/uploads/*
!app/app/static/uploads/.gitkeep 
app/uwsgi-2.0.20/

# Geen .env bestanden in Github, zitten vaak wachtwoorden in 
*.env
*.pyc
*.pot~

*.DS_Store
.entry_point.lock