{% extends "appbuilder/general/widgets/show.html" %}
{% block columns %}
    {% if fieldsets %}
        {% for fieldset_item in fieldsets %}
            {% if fieldset_item[1].get('expanded') == None %}
                {% set expanded = True %}
            {% else %}
                {% set expanded = fieldset_item[1].get('expanded') %}
            {% endif %}
            {% call lib.accordion_tag(loop.index,fieldset_item[0], expanded) %}
            {% if fieldset_item[1].get('columns') == None %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                    {% for item in fieldset_item[1].get('fields') %}
                        <tr>
                        <th class="col-lg-2 col-md-2 col-sm-2">{{label_columns.get(item)}}</th>
                        <td><span style="white-space: pre-line">{{value_columns[include_columns.index(item)] if value_columns[include_columns.index(item)] else ''}}</span></td>
                        </tr>
                    {% endfor %}
                    </table></div>
                {% else %}
                    <div class="row">
                    {% for column in fieldset_item[1].get('columns') %}
                        {% set grid = column['grid'] if 'grid' in column else round(12 // len(fieldset_item[1].get('columns'))) %}
                        {% set grid = grid | string %}
                        {% set grid_str = "col-sm-" + grid %}
                        {% if column.get('fulldisplay') == True %}
                            {% set fulldisplay = True %}
                        {% else %}
                            {% set fulldisplay = False %}
                        {% endif %}
        
                        <div class={{ grid_str|safe }}>
                        <div class="table-responsive">
                        <table class="table table-bordered">
                        {% for item in column.get('fields') %}
                            {% set formatter = formatters_columns.get(item) %}
                            {% set v = value_columns[include_columns.index(item)] if value_columns[include_columns.index(item)] else ''%}
                            {% if fulldisplay %}
                                {{formatter(v) if formatter else v}}
                            {% else %}
                            <tr>
                                <th class="col-lg-3 col-md-3 col-sm-3">{{label_columns.get(item)}}</th>
                                <td><span style="white-space: pre-line">{{formatter(v) if formatter else v}}</span></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </table></div></div>
                    {% endfor %}
                    </div>
            {% endif %}

            {% endcall %}
        {% endfor %}

    {% else %}
        <div class="table-responsive">
        <table class="table table-bordered">

        {% for item in include_columns %}
            <tr>
                <th class="col-lg-2 col-md-2 col-sm-2">{{label_columns.get(item)}}</th>
                <td>
                    {% set formatter = formatters_columns.get(item) %}
                    {% set v = value_columns[loop.index-1]%}
                    <span style="white-space: pre-line">{{formatter(v) if formatter else v}}</span>
                </td>
            </tr>
        {% endfor %}
        </table></div>
    {% endif %}
{% endblock columns %}
