{% import 'appbuilder/general/lib.html' as lib %}
{% extends 'appbuilder/general/widgets/base_list.html' %}

{% block list_header %}
    {{ super() }}
    {{ lib.render_dropdown_orderby(order_columns, label_columns, modelview_name) }}
{% endblock %}

{% block begin_loop_values %}
    <div class="container-fluid">
    <div class="row">
    {{ super() }}
    {% for item in value_columns %}
        {% set pk = pks[loop.index-1] %}
        <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="thumbnail">
          {{ item['photo_img_thumbnail'] }}  
          <div class="caption">
        {% for col_name in include_columns if col_name != 'photo_img_thumbnail' %}
            {% set col_label = label_columns.get(include_columns[loop.index -1]) %}
            {% set value = item[col_name] %}
            <dt>{{col_label}}</dt>
            <dd>{{ item[col_name] if item[col_name] else '-'}}</dd>
        {% endfor %}
      </div>
      {% if actions %}
            <input id="{{pk}}" class="action_check" name="rowid" value="{{pk}}" type="checkbox">
        {% endif %}
        {{ lib.btn_crud(can_show, can_edit, can_delete, pk, modelview_name, filters) }}
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}

<!-- div class="thumbnail">
  <a href="/w3images/lights.jpg">
    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
    <div class="caption">
      <p>Lorem ipsum...</p>
    </div>
  </a>
</div -->