# Airflow configuratie
# -- CORE
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
# -- WEBSERVER
AIRFLOW__WEBSERVER_BASE_URL=http://127.0.0.1
AIRFLOW__WEBSERVER__WEB_SERVER_HOST=0.0.0.0
# -- SCHEDULER
AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL=60
# -- ADMIN
SECURITY__ADMIN_USERNAME=admin
SECURITY__ADMIN_FIRSTNAME=Admin
SECURITY__ADMIN_LASTNAME=Administrators
SECURITY__ADMIN_EMAIL=admin@example.com
SECURITY__ADMIN_PASSWORD=admin

AIRFLOW_TEMPDIR=/opt/airflow/tmp
AIRFLOW_LOGDIR=/opt/airflow/logs
AIRFLOW_INPUTDIR=/input
AIRFLOW_WASSTRAAT_CONFIG=/opt/airflow/config/Wasstraat_Config_HarmonizeV3.xlsx

AIRFLOW_VAR_TEMPDIR=${AIRFLOW_TEMPDIR}

_AIRFLOW_WWW_USER_USERNAME=${SECURITY__ADMIN_USERNAME}
_AIRFLOW_WWW_USER_PASSWORD=${SECURITY__ADMIN_PASSWORD}
