# Flask configuratie
SECRET_KEY=wijzig_deze_geheime_sleutel
MAIL_SERVER='smtp.gmail.com'
MAIL_USE_TLS=True
MAIL_USERNAME='yourappemail@gmail.com'
MAIL_PASSWORD='passwordformail'
MAIL_DEFAULT_SENDER='noreply@example.com'
DEBUG_TB_PROFILER_ENABLED=True
