# MongoDB configuratie
MONGO_SERVER=mongo
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=mongo_secret_42
DB_STAGING=Arch_Staging
DB_FILES=Arch_Files
DB_ANALYSE=Arch_Analyse
COLL_ANALYSE=Single_Store
COLL_ANALYSE_CLEAN=Single_Store_Clean
COLL_PLAATJES=Plaatjes
COLL_FILENAMES=Filenames

COLL_STAGING_METAINFO=Kolominformatie
COLL_STAGING_OUD=Staging_Projecten_Oud
COLL_STAGING_NIEUW=Staging_Projecten_Nieuw
COLL_STAGING_MAGAZIJNLIJST=Staging_Projecten_Magazijnlijst
COLL_STAGING_PROJECTENLIJST=Staging_Projecten_Projectenlijst
COLL_STAGING_FOTOLIJST=Staging_Projecten_Fotolijst
COLL_STAGING_MONSTER=Staging_Projecten_Monster
COLL_STAGING_REFERENTIETABELLEN=Staging_Referentietabellen
COLL_STAGING_RAPPORTEN=Staging_Projecten_Rapporten

COLL_ANALYSE_FOTO=Def_Fotos
COLL_ANALYSE_ARTEFACT=Def_Artefact
COLL_ANALYSE_PROJECT=Def_Project
COLL_ANALYSE_VONDST=Def_Vondst
COLL_ANALYSE_SPOOR=Def_Spoor
COLL_ANALYSE_VLAK=Def_Vlak
COLL_ANALYSE_PUT=Def_Put
COLL_ANALYSE_DOOS=Def_Doos
COLL_ANALYSE_STANDPLAATS=Def_Standplaats
COLL_ANALYSE_STELLING=Def_Stelling
COLL_ANALYSE_PLAATSING=Def_Plaatsing
COLL_ANALYSE_VINDPLAATS=Def_Vindplaats

MONGO_MINPOOLSIZE=60
