# PostgreSQL configuratie
# Airflow database-gebruiker (ook gebruikt door airflow_db.env)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow_secret_42
POSTGRES_DB=airflow
PGDATA=/data/postgres
POSTGRES_PASS=${POSTGRES_PASSWORD}

# Flask database-gebruiker (aangemaakt via init-scripts)
FLASK_PGPASSWORD=flask_secret_42
FLASK_PGUSER=flask
FLASK_PGDATABASE=flask
PASSWORD_AUTHENTICATION=md5
